<a href="https://colab.research.google.com/github/Alka-vish/Machine-Learning-Lab/blob/main/Exp_1_Basic_of_Pandas_%26_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# -------------------- NumPy Example --------------------
import numpy as np

# Create a NumPy array
arr = np.array([10, 20, 30, 40, 50])

# Perform basic operations
print("Original Array:", arr)
print("Mean:", np.mean(arr))
print("Standard Deviation:", np.std(arr))
print("Array multiplied by 2:", arr * 2)


# -------------------- Pandas Example --------------------
import pandas as pd

# Create a simple DataFrame
data = {
    'Name': ['Amit', 'Neha', 'Ravi', 'Sara'],
    'Age': [22, 25, 24, 23],
    'Marks': [85, 90, 78, 92]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("\nDataFrame:\n", df)

# Basic Pandas operations
print("\nAverage Marks:", df['Marks'].mean())
print("Maximum Age:", df['Age'].max())

# Add a new column
df['Grade'] = ['A', 'A+', 'B', 'A+']
print("\nUpdated DataFrame:\n", df)

Original Array: [10 20 30 40 50]
Mean: 30.0
Standard Deviation: 14.142135623730951
Array multiplied by 2: [ 20  40  60  80 100]

DataFrame:
    Name  Age  Marks
0  Amit   22     85
1  Neha   25     90
2  Ravi   24     78
3  Sara   23     92

Average Marks: 86.25
Maximum Age: 25

Updated DataFrame:
    Name  Age  Marks Grade
0  Amit   22     85     A
1  Neha   25     90    A+
2  Ravi   24     78     B
3  Sara   23     92    A+